In [1]:
import pandas as pd
import scipy as stats
from datetime import datetime

# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [2]:
individual_data= "Dow Data/DOW Data.csv"
individual_industry= 'Dow Data/DOW Names.csv'
dow= "Dow Data/^DJI.csv"

In [3]:
individual_df = pd.read_csv(individual_data)
industry_df= pd.read_csv(individual_industry)
dow_df=pd.read_csv(dow)

In [4]:
individual_df

,Date,Open,High,Low,Close,Volume,Name
0,1/2/15,111.389999,111.440002,107.349998,109.330002,53204600,AAPL
1,1/5/15,108.290001,108.650002,105.410004,106.250000,64285500,AAPL
2,1/6/15,106.540001,107.430000,104.629997,106.260002,65797100,AAPL
3,1/7/15,107.199997,108.199997,106.699997,107.750000,40105900,AAPL
4,1/8/15,109.230003,112.150002,108.699997,111.889999,59364500,AAPL
...,...,...,...,...,...,...,...
36448,12/23/19,58.709999,59.000000,58.419998,58.570000,4813200,WBA
36449,12/24/19,58.900002,58.919998,58.279999,58.349998,1475400,WBA
36450,12/26/19,58.340000,59.020000,58.299999,58.900002,2736100,WBA
36451,12/27/19,58.919998,59.029999,58.380001,59.020000,3647600,WBA
36452,12/30/19,59.090000,59.599998,58.810001,58.910000,3264500,WBA

In [5]:
industry_df.rename(columns = {'Ticker':'Symbol'}, inplace=True)
individual_df.rename(columns={'Name': "Symbol"}, inplace= True)
stocks_df=individual_df.merge(industry_df, on="Symbol")
stocks_df.head(10)

,Date,Open,High,Low,Close,Volume,Symbol,Stock Name,Industry,Sector
0,1/2/15,111.389999,111.440002,107.349998,109.330002,53204600,AAPL,Apple Inc.,Consumer Electronics,Technology
1,1/5/15,108.290001,108.650002,105.410004,106.250000,64285500,AAPL,Apple Inc.,Consumer Electronics,Technology
2,1/6/15,106.540001,107.430000,104.629997,106.260002,65797100,AAPL,Apple Inc.,Consumer Electronics,Technology
3,1/7/15,107.199997,108.199997,106.699997,107.750000,40105900,AAPL,Apple Inc.,Consumer Electronics,Technology
4,1/8/15,109.230003,112.150002,108.699997,111.889999,59364500,AAPL,Apple Inc.,Consumer Electronics,Technology
5,1/9/15,112.669998,113.250000,110.209999,112.010002,53699500,AAPL,Apple Inc.,Consumer Electronics,Technology
6,1/12/15,112.599998,112.629997,108.800003,109.250000,49650800,AAPL,Apple Inc.,Consumer Electronics,Technology
7,1/13/15,111.430000,112.800003,108.910004,110.220001,67091900,AAPL,Apple Inc.,Consumer Electronics,Technology
8,1/14/15,109.040001,110.489998,108.500000,109.800003,48956600,AAPL,Apple Inc.,Consumer Electronics,Technology
9,1/15/15,110.000000,110.059998,106.660004,106.820000,60014000,AAPL,Apple Inc.,Consumer Electronics,Technology

In [6]:
stocks_df['Year']= stocks_df['Date'].dt.year
stocks_df['Date']= pd.to_datetime(stocks_df['Date'])
stocks_df['Month Number']= stocks_df['Date'].dt.month
stocks_df
monthly_change_old= stocks_df.groupby(['Symbol','Year','Month Number','Sector']).agg({'Open':'first','Close':'last'})
monthly_change=monthly_change_old.reset_index()
monthly_change["Monthly Change"]= (monthly_change['Close'] - monthly_change['Open'])/monthly_change['Open']
monthly_change_group=monthly_change.groupby(["Sector","Year","Month Number"])["Monthly Change"].mean()

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
stocks_month = pd.DataFrame(monthly_change_group)
stocks_month = stocks_month.reset_index()
year_month_df=pd.DataFrame({'year': stocks_month['Year'], 'month': stocks_month['Month Number'], 'day':[1 for x in range(480)]})
stocks_month['Year-Month']= pd.to_datetime(year_month_df)
stocks_month

In [ ]:
month_list= stocks_month['Year-Month'].tolist()
calender=['January 2015','February','March','April','May','June','July','August','September','October','November','December',
         'January 2016','February','March','April','May','June','July','August','September','October','November','December',
         'January 2017','February','March','April','May','June','July','August','September','October','November','December',
         'January 2018','February','March','April','May','June','July','August','September','October','November','December',
         'January 2019','February','March','April','May','June','July','August','September','October','November','December']

In [ ]:
stocks_month.head()
stocks_month=stocks_month.groupby(['Sector','Year-Month'])['Monthly Change'].mean()

stocks_b = pd.DataFrame(stocks_month)
stocks_b =stocks_b.unstack(level=0)
stocks_b.columns = stocks_b.columns.droplevel()
stocks_b = stocks_b.reset_index()
stocks_b.set_index("Year-Month",inplace= True)
stocks_b

In [ ]:
sectors=["Technology",'Healthcare','Financial Services','Industrials',
        'Consumer Defensive','Consumer Cyclical','Communication Services',
        'Energy']
correlation_counts=[]

In [ ]:
dow_df['Date']= pd.to_datetime(dow_df['Date'])
dow_df['Month Number']= dow_df['Date'].dt.month
dow_df['Year'] = dow_df['Date'].dt.year
dow_df
monthly_change_dow= dow_df.groupby(['Year','Month Number']).agg({'Open':'first','Close':'last'})

monthly_change_dow=monthly_change_dow.reset_index()
monthly_change_dow["Monthly Change"]= monthly_change_dow['Close']- monthly_change_dow['Open']
monthly_change_dow["Year-Month"]= pd.to_datetime(year_month_df)

In [ ]:
dow_graph_old= pd.DataFrame({"Year-Month":monthly_change_dow["Year-Month"],"Monthly Change":monthly_change_dow['Monthly Change']})
dow_graph= dow_graph_old.set_index("Year-Month")
dow_graph

In [ ]:
healthcare= stocks_b['Healthcare']
healthcare= pd.DataFrame(healthcare)

fig=plt.figure(figsize=(15,7))
ax= np.arange(len(healthcare))
plt.plot(ax, healthcare)
plt.title('Healthcare Monthly Change')
plt.xticks(ax,calender,rotation=90)
plt.grid()

h_count=healthcare.corrwith(dow_graph['Monthly Change'])
correlation_counts.append(h_count)

In [ ]:
t_df= stocks_b['Technology']
technology=pd.DataFrame(t_df)

fig=plt.figure(figsize=(15,7))
ax= np.arange(len(technology))
plt.plot(ax, technology)
plt.title('Technology Monthly Change')
plt.xticks(ax,calender,rotation=90)
plt.grid()

t_count=technology.corrwith(dow_graph['Monthly Change'])
correlation_counts.append(t_count)





f_df= stocks_b['Financial Services']
financial_services=pd.DataFrame(f_df)

fig=plt.figure(figsize=(15,7))
ax= np.arange(len(financial_services))
plt.plot(ax, financial_services)
plt.title('Financial Services Monthly Change')
plt.xticks(ax,calender,rotation=90)
plt.grid()

f_count= financial_services.corrwith(dow_graph['Monthly Change'])
correlation_counts.append(f_count)





i_df= stocks_b['Industrials']
industrials=pd.DataFrame(i_df)

fig=plt.figure(figsize=(15,7))
ax= np.arange(len(industrials))
plt.plot(ax, industrials)
plt.title('Industrials Monthly Change')
plt.xticks(ax,calender,rotation=90)
plt.grid()

i_count= industrials.corrwith(dow_graph['Monthly Change'])
correlation_counts.append(i_count)




cd_df= stocks_b['Consumer Defensive']
consumer_defensive=pd.DataFrame(cd_df)

fig=plt.figure(figsize=(15,7))
ax= np.arange(len(consumer_defensive))
plt.plot(ax, consumer_defensive)
plt.title('Consumer Defensive Monthly Change')
plt.xticks(ax,calender,rotation=90)
plt.grid()

cd_count= consumer_defensive.corrwith(dow_graph["Monthly Change"])
correlation_counts.append(cd_count)




cc_df= stocks_b['Consumer Cyclical']
consumer_cyclical=pd.DataFrame(cc_df)

fig=plt.figure(figsize=(15,7))
ax= np.arange(len(consumer_cyclical))
plt.plot(ax, consumer_cyclical)
plt.title('Consumer Cyclical Monthly Change')
plt.xticks(ax,calender,rotation=90)
plt.grid()

cc_count=consumer_cyclical.corrwith(dow_graph['Monthly Change'])
correlation_counts.append(cc_count)




cs_df= stocks_b['Communication Services']
communication_services=pd.DataFrame(cs_df)

fig=plt.figure(figsize=(15,7))
ax= np.arange(len(communication_services))
plt.plot(ax, communication_services)
plt.title('Communication Services Monthly Change')
plt.xticks(ax,calender,rotation=90)
plt.grid()

cs_count=communication_services.corrwith(dow_graph['Monthly Change'])
correlation_counts.append(cs_count)



e_df= stocks_b['Energy']
energy=pd.DataFrame(e_df)

fig=plt.figure(figsize=(15,7))
ax= np.arange(len(energy))
plt.plot(ax, energy)
plt.title('Energy Monthly Change')
plt.xticks(ax,calender,rotation=90)
plt.grid()

e_count= energy.corrwith(dow_graph['Monthly Change'])
correlation_counts.append(e_count)

In [ ]:
correlation_df=pd.DataFrame(correlation_counts)
correlation_df

In [ ]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import pandas_datareader as web
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from matplotlib import style
import os
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
import pandas_profiling as pp
import datetime
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')