In [15]:
import yfinance as yf

In [16]:
ticker_symbol= "AAPL"

In [17]:
tickerData= yf.Ticker(ticker_symbol)

In [18]:
tickerDf=tickerData.history(period='1D', start='2019-8-1', end= '2020-8-10')

In [21]:
tickerDf

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2019-08-01  211.00  215.07  203.93  205.60  54017900       0.00             0
2019-08-02  202.74  203.63  198.89  201.25  40862100       0.00             0
2019-08-05  195.30  195.95  189.97  190.72  52393000       0.00             0
2019-08-06  193.65  195.38  191.41  194.33  35824800       0.00             0
2019-08-07  192.76  196.85  191.19  196.34  33364400       0.00             0
...            ...     ...     ...     ...       ...        ...           ...
2020-08-03  432.02  445.75  430.79  434.97  77037800       0.00             0
2020-08-04  435.74  442.36  432.77  437.87  43267900       0.00             0
2020-08-05  436.72  440.78  434.81  439.46  30498000       0.00             0
2020-08-06  440.83  456.83  438.40  454.79  50607200       0.00             0
2020-08-07  452.82  454.70  441.17  444.45  49453300       0.82             0

[258 rows x 7 columns]